.bidding-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.bidding-panel {
    width: 35vw;
    height: 35vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid darkgreen;
    border-radius: 25px;
    box-shadow: 30px 30px 42px rgba(0, 0, 0, 0.12),
    -30px -30px 42px rgba(0, 0, 0, 0.12);
    background: rgba(255,255,255,0.01);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.short-box {
    width: 10vw !important;
}