html, body { /* Main HTML and BODY styling */
    color: floralwhite;
    background-color: darkgreen; /* Background Color in lieu of Image loading */
    height: 100vh;
    overflow: hidden; /* No Scrolling */
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/static/img/table.png'); /* Table Felt image */
    background-size: auto;
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
}