.scoreboard {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid rgba(8, 29, 8, 0.322); */
  /* border-radius: 25px; */
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377); */
  /* background: rgba(255, 255, 255, 0.01); */
  /* backdrop-filter: blur(10px); */
  /* -webkit-backdrop-filter: blur(15px); */
  /* padding: 5px; */
}

.score-headers {
  text-decoration: underline;
}
.score-value {
  font-size: x-large;
  font-weight: bold;
}

.scoreboard-content {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-content {
  border: 1px solid rgba(8, 29, 8, 0.322);
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(15px);
}

.center-content {
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(8, 29, 8, 0.322);
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(15px);
}

.winning-bid {
  text-align: center;
  width: 100%;
}

.right-content {
  border: 1px solid rgba(8, 29, 8, 0.322);
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(15px);
}
